<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <section>
      <h2>Welcome to my EJS About Page</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quisquam
      veniam non nostrum et, nam praesentium est cum fuga excepturi magni!
      Exercitationem nemo quis optio sunt quae cupiditate libero accusantium
      quos nam quaerat veritatis quas dolore nesciunt aliquam id eius iste
      itaque nulla et, ipsa officiis error, officia dolores est! Laborum itaque
      excepturi quisquam aperiam blanditiis praesentium ab commodi suscipit in
      quae debitis ipsa saepe sequi adipisci eveniet, totam reiciendis
      consectetur sunt similique maiores ad nobis provident exercitationem!
      Dignissimos, distinctio illo saepe eos et dolor tempore mollitia. Libero,
      adipisci blanditiis laudantium magnam quibusdam nostrum sunt! Neque
      perferendis beatae doloremque distinctio.
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
